.product-info {
    padding: 60px 0;
}

.product-info-content {
    display: flex;
    width: 70%;
    min-width: 700px;
    border: 2px solid black;
    border-radius: 20px;
}

.product-info-content-left {
    width: 40%;
}


.product-info-content-left img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 19px 0 0 0;
}

.product-info-content-right {
    padding: 20px;
    width: 60%;
}

.product-info-content-right h1 {
    word-wrap: break-word;
}


.price {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 40px 0;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.price #final_price {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 30px;
    font-weight: 700;
}

.price #price {
    padding: 0 !important;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0 20px !important;
}

.price #discount {
    margin: 0 !important;
    font-size: 14px;
    padding: 5px !important;
    background-color: rgb(255, 231, 231);
    color: red;
}

.info {
    margin-bottom: 20px;
}

.info p {
    border: none !important;
    margin: 0;
    padding: 5px;
    font-size: 16px;
}

.product-info-button {
    display: flex;
    width: 100%;
}

.product-info-button form {
    margin-right: 40px;
    width: 180px;
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

#btnBuy, #btnAddToCart {
    width: 100%;
    margin: 0;
    padding: 10px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

#btnBuy:hover, #btnAddToCart:hover {
    background-color: white;
    color: black;
}

.product-info-detail {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 18px;
    border-top: 1px solid black;
}

